<h1>Данные из файла</h1>

<div class="form-group">
  <div class=" custom-control custom-checkbox">
    <input type="checkbox" id="newFile" class="custom-control-input" [(ngModel)]="newFile" (change)="changeNewFile($event)" />
    <label class="custom-control-label" for="newFile">Создание нового файла</label>
  </div>
</div>

<div class="form-group">
  <label>Имя файла</label>
  <input type="text" class="form-control" [readonly]="!newFile" [(ngModel)]="fileData.fileName" />
</div>

<div class="form-group" *ngIf="!newFile">
  <label>Путь до файла</label>&nbsp;<button class="btn btn-info" (click)="openFilesSelector()">Выбрать файл</button>
  <input type="text" class="form-control" placeholder="Нажми на меня" readonly [(ngModel)]="fileData.filePath" (click)="openFilesSelector()" />
</div>

<div class="form-group" *ngIf="newFile">
  <label>Количество столбцов</label>
  <input type="number" class="form-control" [value]="1" [(ngModel)]="colsNumber" />
</div>

<div class="form-group" *ngIf="!newFile">
  <div class=" custom-control custom-checkbox">
    <input type="checkbox" id="firstRowIsColumns" class="custom-control-input" [(ngModel)]="fileData.firstRowIsColumns" />
    <label class="custom-control-label" for="firstRowIsColumns">Первая строка содержит стобцы</label>
  </div>
</div>

<div class="form-group">
  <label>Разделитель. <i>При выборе разделителя, необходима повторная загрузка данных</i></label>
  <div class="custom-control custom-radio">
    <input type="radio"
           class="custom-control-input"
           id="tab"
           value="tab"
           [(ngModel)]="fileData.separator"
           name="separatorGroup"
           (click)="radioSelected('tab')">
    <label class="custom-control-label" for="tab">Знак табуляции</label>
  </div>

  <div class="custom-control custom-radio">
    <input type="radio"
           class="custom-control-input"
           id="space"
           value="space"
           [(ngModel)]="fileData.separator"
           name="separatorGroup"
           (click)="radioSelected('space')">
    <label class="custom-control-label" for="space">Пробел</label>
  </div>

  <div class="custom-control custom-radio">
    <input type="radio"
           class="custom-control-input"
           id="dotcomma"
           value="dotcomma"
           [(ngModel)]="fileData.separator"
           name="separatorGroup"
           (click)="radioSelected('dotcomma')">
    <label class="custom-control-label" for="dotcomma">Точка с запятой</label>
  </div>

  <div class="custom-control custom-radio">
    <input type="radio"
           class="custom-control-input"
           id="other"
           value="other"
           name="separatorGroup"
           (click)="radioSelected('other')" />
    <label class="custom-control-label" for="other">Другой</label><br />
    <input *ngIf="otherSeparator" class="form-control" [(ngModel)]="fileData.separator" />
  </div>

</div>

<div class="form-group" *ngIf="newFile">
  <input type="button" class="btn btn-primary" (click)="createFile()" value="Создать файл" />
</div>

<div class="form-group" *ngIf="!newFile">
  <input type="button" class="btn btn-primary" (click)="childShow()" value="Показать результаты" />
</div>

<app-array-data #arrayData [filePath]="fileData.filePath"
                [firstRowIsColumns]="fileData.firstRowIsColumns"
                [separator]="fileData.separator">

</app-array-data>

<!-- Modal windows with details of apartment-->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбор файла</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeFiles()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Файл выбирается из папки Data приложения.</p>
        </div>
        <div class="custom-control custom-radio" *ngFor="let file of files; let i = index">
          <input class="custom-control-input"
                 type="radio"
                 id="file{{i}}"
                 [value]="file"
                 [(ngModel)]="filePath"
                 name="fileGroup" />
          <label class="custom-control-label" for="file{{i}}">{{file}}</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="selectFile()">Выбрать</button>
        <button type="button" class="btn btn-secondary" (click)="closeFiles()">Отмена</button>
      </div>
    </div>
  </div>
</div>
